<%= turbo_frame_tag "profile-citizenship-section" do %>
  <div
    data-controller="search-countries"
    data-search-countries-search-url-value=<%= citizenships_search_countries_path %>
    >
    <%= label_tag "I am a citizen of..." %>
    <%= text_field_tag(
      "search-countries",
      "",
      class: "form-control mb-2",
      placeholder: "Search countries...",
      data: {
        "search-countries-target": "searchField",
        action: "search-countries#searchOnDebounce"
      }
    ) %>

    <%= turbo_frame_tag "search-results" do %>
      <div data-search-countries-target="searchResults">
      </div>
    <% end %>

    <%= link_to(
      "Cancel",
      cancel_citizenships_path,
      class: "btn btn-danger",
      "data-turbo-stream": ""
    ) %>
  </div>
<% end %>
