<%= turbo_frame_tag "chat-message-#{message.id}" do %>
  <% if message.sender == current_user %>
    <div class="chat-message chat-message-current-user">

      <p
        <%= message.deleted? ? " class='fst-italic'".html_safe : nil %>>
        <% if message.reply_to.present? %>
          <%= link_to(
            "javascript:void(0);",
            data: {
              action: "chat-channel#jumpToReply",
              "reply-to-id": message.reply_to.id
            }
          ) do %>
            <span class="replying-to">
              <i class="bi bi-reply-fill"></i>
              Replying to <%= message.reply_to.sender.display_name %>
            </span>
          <% end %>
          <br />
        <% end %>
        <span class="message-body"><%= message.body %></span>
      </p>
      <div class="message-actions-container">
        <%= button_to(
          channel_channel_message_path(
            message,
            channel_id: channel.id
          ),
          method: :delete,
          class: "delete-button me-2",
          aria: { label: "Delete message" },
          form: {
            data: {
              turbo_confirm: "Are you sure you want to delete this message? This action can't be undone."
            }
          }
        ) do %>
          <i class="bi bi-x-circle-fill"></i>
        <% end %>

        <%= render partial: "channels/shared/reply_to_link",
          locals: { message: message }
        %>
      </div>
    </div>
  <% else %>
    <div class="chat-message">
      <p<%= message.deleted? ? " class='fst-italic'".html_safe : nil %>><%=
        message.body
      %></p>

      <%= render partial: "channels/shared/reply_to_link",
        locals: { message: message }
      %>
    </div>
  <% end %>
<% end %>
