<%= turbo_frame_tag "chat-channel", class: "chat-channel-section" do %>
  <div class="channel-header p-3">
    <h3><%= channel.name %></h3>
  </div>

  <div class="channel-message-section">
    <% # TODO should probably limit the number of messages %>
    <% # TODO pagination on scroll %>
    <% channel.messages.order(created_at: :desc).each do |message| %>
      <% if message.sender == current_user %>
        <div class="chat-message chat-message-current-user">
          <p><%= message.body %></p>
          <div class="message-actions-container">
            <%= link_to(
              "https://http.cat/404",
              aria: { label: "Message actions" }
            ) do %>
              <i class="bi bi-three-dots"></i>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="chat-message">
          <p><%= message.body %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="channel-message-form-section p-3">
    <%= form_for [channel, message] do |f| %>
      <div class="channel-message-form">
        <div class="channel-message-textarea" data-controller="chat-textarea">
          <%= f.text_area(
            :body,
            class: "form-control#{ message.errors[:body].any? ? ' is-invalid' : nil }",
            rows: 1,
            placeholder: "Type message...",
            autofocus: true,
            data: {
              "chat-textarea-target": "textarea",
              action: "chat-textarea#resizeTextarea"
            }
          ) %>

          <% if message.errors[:body].present? %>
            <div class="invalid-feedback">
              Message body <%= message.errors[:body].first %>
            </div>
          <% end %>
        </div>

        <div class="channel-message-button-container">
          <%= f.button(
            "Send",
            type: :submit,
            class: "btn btn-success ms-2"
          ) do %>
            <i class="bi bi-send"></i>
            Send
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
