<%= turbo_frame_tag(
  "chat-channel",
  class: "chat-channel-section",
  data: {
    controller: "chat-channel"
  }
) do %>
  <div class="channel-header p-3">
    <h3><%= channel.name %></h3>

    <div class="dropdown ms-2">
      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Channel settings">
        <i class="bi bi-gear-fill"></i>
      </button>

      <ul class="dropdown-menu">
        <li>
          <%= button_to(
            channel_member_path(ChannelMember.find_by!(
              user: current_user,
              chat_channel: channel
            )),
            method: :delete,
            class: "leave-channel-button dropdown-item",
            data: {
              turbo_frame: "_top"
            },
            form: {
              data: {
                turbo_confirm: "Are you sure you want to leave this channel?"
              }
            }
          ) do %>
            <strong>
              Leave channel
              <i class="bi bi-box-arrow-right"></i>
            </strong>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="channel-message-section">
    <% channel.messages.order(created_at: :desc).each do |message| %>
      <%= render partial: "channels/chat_message",
        locals: { message: message, channel: channel }
      %>
    <% end %>
  </div>

  <div class="channel-message-form-section p-3">
    <p id="error-scroll-to-reply" class="error-scroll-to-reply">
      <strong>Couldn't scroll to message - it may be offscreen</strong>
    </p>

    <div id="reply-to-section" class="reply-to-section">
      <p>
        <strong>Replying to
          <span data-chat-channel-target="replyDisplayName"></span>
        </strong>
        <br />
        <span data-chat-channel-target="replyMessageBody"></span>
      </p>
      <%= link_to(
        "javascript:void(0)",
        data: { action: "chat-channel#clearReplyTo" }
      ) do %>
        <i class="bi bi-x-circle-fill"></i>
      <% end %>
    </div>
    <%= form_for [channel, message] do |f| %>
      <%= f.hidden_field(
        :reply_to_id,
        value: nil,
        data: {
          "chat-channel-target": "hiddenReplyToField"
        }
      ) %>

      <div class="channel-message-form">
        <div class="channel-message-textarea" data-controller="chat-textarea">
          <%= f.text_area(
            :body,
            class: "form-control#{ message.errors[:body].any? ? ' is-invalid' : nil }",
            rows: 1,
            placeholder: "Type message...",
            autofocus: true,
            data: {
              "chat-textarea-target": "textarea",
              action: "chat-textarea#resizeTextarea"
            }
          ) %>

          <% if message.errors[:body].present? %>
            <div class="invalid-feedback">
              Message body <%= message.errors[:body].first %>
            </div>
          <% end %>
        </div>

        <div class="channel-message-button-container">
          <%= f.button(
            "Send",
            type: :submit,
            class: "btn btn-success ms-2"
          ) do %>
            <i class="bi bi-send"></i>
            Send
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
