<%= turbo_frame_tag "profile-citizenship-section" do %>
  <% if flash[:error_create_citizenship].present? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= flash[:error_create_citizenship] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <% if current_user.citizenships.any? %>
    <div>
      I am a citizen of
      <% if current_user.citizenships.count == 1 %>
        <% citizenship = current_user.citizenships.first %>
        <span class="fw-bold">
          <%= citizenship.country.name %>
          <%= button_to(
            citizenship_path(citizenship),
            method: :delete,
            class: "delete-button",
            form_class: "d-inline-block"
          ) do %>
            <i class="bi bi-x-circle-fill"></i>
          <% end %>
        </span>
      <% else %>
        <ul>
          <% current_user.citizenships.each do |citizenship| %>
            <li>
              <span class="fw-bold"><%= citizenship.country.name %></span>
              <%= button_to(
                citizenship_path(citizenship),
                method: :delete,
                class: "delete-button",
                form_class: "d-inline-block"
              ) do %>
                <i class="bi bi-x-circle-fill"></i>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>

    <%= link_to(
      new_citizenship_path,
      "data-turbo-stream": ""
    ) do %>
      <i class="bi bi-plus-circle-fill" aria-hidden="true"></i>
      Add citizenship
    <% end %>
  <% else %>
    <div class="mb-2">
      <%= link_to(
        new_citizenship_path,
        "data-turbo-stream": ""
      ) do %>
        <i class="bi bi-plus-circle-fill" aria-hidden="true"></i>
        Add citizenship
      <% end %>
    </div>

    <div class="fst-italic">
      We use your citizenships to show ensure any visa information shown is relevant to you.
    </div>
  <% end %>
<% end %>
