<%= turbo_frame_tag "profile-overview" do %>
  <div class="nav nav-pills mb-3">
    <li class="nav-item">
      <%= link_to(
        "Overview",
        profile_path,
        class: "nav-link active"
      ) %>
    </li>

    <li class="nav-item">
      <%= link_to(
        "Reviews",
        reviews_profile_path,
        class: "nav-link",
        method: "GET"
      ) %>
    </li>
  </div>

  <%= render partial: "shared/citizenship_alerts" %>

  <div class="card mb-3">
    <div class="card-header">
      Citizenship
    </div>
    <div class="card-body">
      <div class="mb-2">
        <% if user.citizenship.nil? %>
          <div class="alert alert-warning" role="alert">
            Add a citizenship now to get
            tailored citizenship information on location pages,
            specifically for you.
          </div>
          You haven't added a citizenship.
        <% else %>
          <% # NOTE: assume one citizenship for now %>
          You're a citizen of <%= user.citizenship.country.name %>
        <% end %>
      </div>

      <div>
        <%= link_to(
          modal_user_citizenships_path(user_id: user.id),
          class: "btn btn-primary",
          method: :get
        ) do %>
          <%= user.citizenship.nil? ? "Add" : "Update" %>
        <% end %>
      </div>
    </div>
  </div>

  <%= turbo_frame_tag(
    "subscription-status-section",
    src: profile_section_subscriptions_path(format: :turbo_stream)
  ) do %>
    Loading subscription status...
  <% end %>
  </div>
<% end %>
