<div class="container mt-5">
  <% if flash[:notice].present? %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= flash[:notice] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <% if flash[:updated_user_success].present? %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= flash[:updated_user_success] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <h1>Profile</h1>

  <div class="row">
    <div class="col">
      <%= form_for @user, data: { turbo_frame: "_top" } do |f| %>
        <%= f.label :display_name %>
        <div class="row">
          <div class="col">
            <div class="mb-3">
              <%= f.text_field(
                :display_name,
                class: "form-control#{ @user.errors[:display_name].any? ? ' is-invalid' : nil}"
              ) %>

              <% if @user.errors[:display_name].any? %>
                <div class="invalid-feedback">
                  Display name <%= @user.errors[:display_name].first %>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col">
            <%= f.submit(
              "Update",
              class: "btn btn-primary"
            ) %>
          </div>
        </div>

        <div class="mb-3">
          <%= f.label :email %>
          <%= f.text_field(
            :email,
            class: "form-control-plaintext",
            disabled: true
          ) %>
        </div>
      <% end %>

      <div>
        <%= link_to(
          "Update password",
          edit_user_registration_path,
          class: "btn btn-secondary"
        ) %>
      </div>

    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">
          Subscription
        </div>
        <div class="card-body">
          <p class="card-text">
            Status:
            <strong><%= current_user.subscription_status %></strong>
          </p>

          <% if current_user.cancelled_subscription? %>
            <%= link_to "Re-subscribe",
              choose_plan_path,
              class: "btn btn-success"
            %>
          <% elsif current_user.no_subscription? %>
            <%= link_to "Add subscription",
              choose_plan_path,
              class: "btn btn-success"
            %>
          <% else %>
            <%= button_to "Manage subscription",
              manage_subscriptions_path,
              method: :post,
              class: "btn btn-secondary"
            %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
