<div class="container mt-5">
  <% if flash[:notice].present? %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= flash[:notice] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <% if flash[:updated_user_success].present? %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= flash[:updated_user_success] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <% if flash[:error_upload_profile_picture].present? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= flash[:error_upload_profile_picture] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="row">
    <div class="user-info col col-12 col-lg-3">
      <div class="mb-2">
        <% if @user.profile_picture.present? %>
          <div>
            <%= image_tag(
              @user.profile_picture.image_url(:main),
              class: "profile-picture mb-3"
            ) %>
          </div>

          <div>
            Joined
            <span class="fw-bold">
              <%= @user.created_at.strftime("%B %y") %>
            </span>
          </div>

          <%= link_to(
            "Update profile picture",
            upload_modal_user_profile_pictures_path(user_id: current_user.id),
            class: "btn btn-primary",
            "data-turbo-stream": ""
          ) %>

        <% else %>
          <div role="img" aria-label="Profile picture" class="profile-picture placeholder mb-3">
            <span><%= helper_user_initials(user: current_user) %></span>
          </div>

          <div>
            Joined
            <span class="fw-bold">
              <%= @user.created_at.strftime("%B %y") %>
            </span>
          </div>

          <%= link_to(
            "Upload profile picture",
            upload_modal_user_profile_pictures_path(user_id: current_user.id),
            class: "btn btn-primary",
            "data-turbo-stream": ""
          ) %>
        <% end %>
      </div>

      <div class="mb-2">
        <%= link_to(
          "Update password",
          edit_user_registration_path,
          class: "btn btn-secondary"
        ) %>
      </div>

      <div class="mb-3">
        <strong>Email</strong>
        <br />
        <%= @user.email %>
      </div>

      <%= form_for @user, data: { turbo_frame: "_top" } do |f| %>
        <div class="row">
          <strong><%= f.label :display_name %></strong>
          <div class="col">
            <div class="input-group mb-3">
              <%= f.text_field(
                :display_name,
                class: "form-control#{ @user.errors[:display_name].any? ? ' is-invalid' : nil}",
                aria: {
                  describedby: "update-display-name-button"
                }
              ) %>

              <%= f.submit(
                "Update",
                class: "btn btn-primary",
                id: "update-display-name-button"
              ) %>

              <% if @user.errors[:display_name].any? %>
                <div class="invalid-feedback">
                  Display name <%= @user.errors[:display_name].first %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col col-12 col-lg-9">
      <%= render partial: "profiles/profile_overview",
        locals: { user: @user }
      %>
    </div>
  </div>
</div>

<%
  set_meta_tags(
    title: "Update your profile",
    description: "Customise your Digital Nomad profile to get a tailored experience, made just for you.",
    index: true,
    follow: false
  )
%>
