<div data-controller="search-locations">
  <%= form_tag(
    search_locations_path,
    method: :get,
    data: {
      "search-locations-target": "searchForm",
    }
  ) do %>
    <div class="row">
      <div class="col">
        <%= select(
          "search",
          :region_id,
          Region.all.map { |region| [region.name, region.id] },
          {
            include_blank: "Select region...",
            selected: region && region.id,
          },
          {
            class: "form-select",
            aria: {
              label: "Region select",
            },
            data: {
              "search-locations-target": "regionSelect",
              action: "search-locations#regionSelect",
            }
          }
        ) %>
      </div>

      <div class="col">
        <% if region.nil? %>
          <select
              class="form-select"
              aria-label="Country select"
              data-search-locations-target="countrySelect"
              disabled>
            <option value="" disabled selected hidden>Select country...</option>
          </select>
        <% else %>
          <%= select(
            "search",
            :country_id,
            region.countries.map { |country| [country.name, country.id] },
            {
              include_blank: "Select country...",
              selected: country && country.id
            },
            {
              class: "form-select",
              aria: {
                label: "Country select",
              },
              data: {
                "search-locations-target": "countrySelect",
                action: "search-locations#submitSearch",
              }
            }
          ) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<hr />

<div class="row row-cols-xl-3 row-cols-md-2 row-cols-1 ">
  <% @locations.each do |location| %>
    <div class="col">
      <%= link_to location, class: "location-search-result-link" do %>
        <div class="location-card card overflow-hidden mb-3">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                  src="<%= helper_location_thumbnail(location: location) %>"
                  class="search-result-img img-fluid rounded-start"
                  alt="Photo of <%= location.name_utf8 %>">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= location.name_utf8 %></h5>
                <p class="card-text">
                  <%= helper_location_short_description(
                    location: location
                  ) %>
                </p>
              </div>

              <% if location.reviews.any? %>
                <div class="card-footer">
                  <%= helper_review_summary_star_rating(
                    location: location,
                    review_field: :overall
                  ) %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

