<div class="container mt-5">
  <%= render partial: "visas/shared/back_link_to_location_visa",
    locals: {
      location: @location
    }
  %>

  <h3>
    <%= @visa.name %> for <%= @country.name %>
  </h3>

  <% if flash[:success_save_visa].present? %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= flash[:success_save_visa] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% elsif flash[:error_save_visa].present? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <%= flash[:error_save_visa] %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <%= form_for [@country, @location, @visa] do |f| %>
    <div class="mb-1">
      <%= f.label :name, "Visa name" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="mb-1">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <%= f.submit "Update", class: "btn btn-success mb-1" %>
  <% end %>

  <%= button_to(
    "Delete",
    country_location_visa_path(
      @visa,
      location_id: @location.id,
      country_id: @country.id
    ),
    method: :delete,
    class: "btn btn-danger",
    form: {
      data: {
        turbo_confirm: "Are you sure you want to delete this visa? All information including eligible countries will be deleted"
      }
    }
  ) %>

  <hr />

  <%= render partial: "visas/eligible_countries",
    locals: {
      visa: @visa,
      location_id: @location.id,
      country_id: @country.id
    }
  %>

  <div
      data-controller="search-countries"
      data-search-countries-search-url-value=<%=
        country_location_visa_search_countries_path(
          @visa,
          location_id: @location.id,
          country_id: @country.id
        )
      %>
      >
    <div class="input-group mb-3">
      <%= text_field_tag(
        "search-countries",
        nil,
        class: "form-control",
        placeholder: "Search eligible countries...",
        data: {
          "search-countries-target": "searchField",
          action: "search-countries#searchOnDebounce"
        }
      ) %>

    </div>

    <%= render partial: "visas/search_results",
      locals: {
        countries: [],
        visa: @visa,
        location_id: @location.id,
        country_id: @country.id
      }
    %>
  </div>
</div>

<%
  set_meta_tags(
    index: false,
    follow: false
  )
%>
