<!DOCTYPE html>
<html>
  <head>
    <% if content_for? :page_title %>
      <title><%= yield :page_title %> | Nomadstation</title>
    <% else %>
      <title>Nomadstation</title>
    <% end %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>

    <div class="chat-screen-container row">
      <div class="col pe-0">
        <div class="d-grid">
          <% if current_user.admin? %>
            <%= link_to(
              new_channel_path,
              class: "btn btn-primary m-2"
            ) do %>
              <i class="bi bi-plus-circle-fill" aria-hidden="true"></i>
              Add channel
            <% end %>
          <% end %>

          <% @channels.each do |channel| %>
            <%= link_to(
              channel_path(channel),
              class: "channel-link"
            ) do %>
              <div class="m-3">
                <p class="h4"><%= channel.name %></p>
                <p class="fst-italic">
                  Placeholder 'last message sent'
                </p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <% if @channel.present? %>
        <div class="chat-message-section col-9 ps-0">
          <%= render partial: "channels/chat_message_section",
            locals: { channel: @channel, message: @message }
          %>
        </div>
      <% else %>
        <div class="chat-message-section no-chat col-9 ps-0">
          <p class="h2">
            Click on one of channels on the left to start chatting
          </p>
        </div>
      <% end %>
    </div>
  </body>
</html>
