<!DOCTYPE html>
<html>
  <head>
    <% if content_for? :page_title %>
      <title><%= yield :page_title %> | Nomadstation</title>
    <% else %>
      <title>Nomadstation</title>
    <% end %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>

    <div class="row">
      <div class="col">
        <div class="d-grid">
          <% if current_user.admin? %>
            <%= link_to(
              new_channel_path,
              class: "btn btn-primary m-2"
            ) do %>
              <i class="bi bi-plus-circle-fill" aria-hidden="true"></i>
              Add channel
            <% end %>
          <% end %>
          <p>TODO list of channels</p>
        </div>
      </div>

      <div class="col-9">
        <p>TODO message section</p>
      </div>
    </div>
  </body>
</html>
