<!DOCTYPE html>
<html>
  <head>
    <%
      # Looks like meta-tags gem doesn't play nice with a custom layout
      # Just do it manually here
    %>
    <title>Nomadstation | <%= @channel.present? ? "#{@channel.name} chat channel" : "Chat" %></title>
    <meta name="description" content='<%= @channel.present? ? "#{@channel.name} chat channel for our Digital Nomad community. Join in!" : "Meet others online and in your area in our well moderated community chat channels." %>'>
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>
    <%= render partial: "chats/disconnected_modal" %>

    <%= turbo_stream_from "user-#{current_user.id}-chat" %>

    <div class="chat-screen-container row">
      <div class="channel-list-container col pe-0 d-none d-md-flex">
        <%= render partial: "chats/current_user_channel_list",
          locals: {
            user: current_user
          }
        %>
      </div>

      <% if @channel.present? %>
        <div class="chat-message-section col col-md-9 ps-md-0">
          <%= render partial: "channels/chat_message_section",
            locals: { channel: @channel, message: @message }
          %>
        </div>
      <% else %>
        <div class="chat-message-section no-chat col col-md-9 ps-md-0">
          <p class="h2 d-none d-md-block">
            Click on one of the channels to start chatting
          </p>

          <div class="d-md-none">
            <%= render partial: "chats/shared/mobile_user_channel_list",
              locals: {
                user: current_user,
                button_label: "Browse channels"
              }
            %>
          </p>
        </div>
      <% end %>
    </div>
  </body>
</html>
