<!DOCTYPE html>
<html>
  <head>
    <% if content_for? :page_title %>
      <title><%= yield :page_title %> | Nomadstation</title>
    <% else %>
      <title>Nomadstation</title>
    <% end %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>
    <%= render partial: "chats/disconnected_modal" %>

    <%= turbo_stream_from "user-#{current_user.id}-chat" %>

    <div class="chat-screen-container row">
      <%= render partial: "chats/current_user_channel_list",
        locals: {
          user: current_user
        }
      %>

      <% if @channel.present? %>
        <div class="chat-message-section col-9 ps-0">
          <%= render partial: "channels/chat_message_section",
            locals: { channel: @channel, message: @message }
          %>
        </div>
      <% else %>
        <div class="chat-message-section no-chat col-9 ps-0">
          <p class="h2">
            Click on one of channels on the left to start chatting
          </p>
        </div>
      <% end %>
    </div>
  </body>
</html>
