<!DOCTYPE html>
<html>
  <head>
    <% if content_for? :page_title %>
      <title><%= yield :page_title %> | Nomadstation</title>
    <% else %>
      <title>Nomadstation</title>
    <% end %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>

    <% if @stream_env_vars_missing %>
      <div class="container mt-5">
        <p>
          <strong>
            ENV["STREAM_API_KEY"] and/or ENV["STREAM_API_SECRET"] not set.
          </strong>
          <br />
          Please check your environment configuration and try again.
        </p>
      </div>
    <% else %>
      <div
          id="chat-root"
          class="chat-root mt-1"
          data-stream-user-id="<%= @stream_user_id %>"
          data-stream-user-token="<%= @stream_user_token %>"
          data-display-name="<%= current_user.display_name %>"
           ></div>
    <% end %>
  </body>
</html>
