<div class="container mt-5">
  <%= render partial: "locations/shared/back_link",
    locals: {
      location: @location
    }
  %>

  <h3>
    <%= @country.visa_information.present? ? "Editing" : "Adding" %>
    visa information for <%= @country.name %>
  </h3>

  <%= form_for @country do |f| %>
    <%= f.hidden_field :location_id, value: @location.id %>
    <div class="mb-3">
      <%= f.text_area(
        :visa_information,
        class: "form-control",
        rows: 8,
        placeholder: "Supports markdown!"
      ) %>
    </div>

    <%= f.submit "Save",
      class: "btn btn-success"
    %>
  <% end %>
</div>
