<% content_for :page_title do %>
  <%= @location.name %>, <%= @location.country.name %>
<% end %>

<%= render partial: "locations/header",
  locals: {
    location: @location,
  }
%>

<div class="container mt-3">
  <%= render partial: "locations/tabs",
    locals: {
      location: @location,
    }
  %>

  <% if current_user.admin? %>
    <div class="mb-3">
      <%= link_to(
        edit_location_visa_information_path(location_id: @location.id),
        class: "me-2"
      ) do %>
        <% if @country.visa_summary_information.present? %>
          <i class="bi bi-pencil-fill" aria-hidden="true"></i>
          Edit visas summary
        <% else %>
          <i class="bi bi-plus-circle-fill" aria-hidden="true"></i>
          Add visas summary
        <% end %>
      <% end %>

      <%= link_to new_country_location_visa_path(
        country_id: @country.id,
        location_id: @location.id,
      ) do %>
        <i class="bi bi-plus-circle-fill" aria-hidden="true"></i>
        Add a visa
      <% end %>
    </div>
  <% end %>

  <% if @country.visa_summary_information.present? || @country.visas.any? %>
    <% if @country.visa_summary_information.present? %>
      <%= @markdown.render(@country.visa_summary_information).html_safe %>
    <% end %>

    <% if @country.visas.any? %>
      <div class="card">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th>Visa</th>
                <th>Eligible countries</th>
                <% if current_user.admin? %>
                  <% # Empty for controls %>
                  <th></th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% @country.visas.each do |visa| %>
                <tr>
                  <td>
                    <%= visa.name %>
                  </td>
                  <td>
                    <ul>
                      <% visa.eligible_countries.each do |eligible_country| %>
                        <li>
                          <%= eligible_country.name %>
                        </li>
                      <% end %>
                    </ul>
                  </td>

                  <% if current_user.admin? %>
                    <td>
                      <%= link_to(
                        edit_country_location_visa_path(
                          visa,
                          location_id: @location.id,
                          country_id: @country.id
                        ),
                        aria: {
                          label: "Edit visa"
                        }
                      ) do %>
                        <i class="bi bi-pencil-fill" aria-hidden="true"></i>
                      <% end %>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>
      No visa information for <%= @country.name %> yet
    </p>
  <% end %>
</div>
