<% content_for :page_title do %>
  <%= @location.name %>, <%= @location.country.name %>
<% end %>

<%= render partial: "locations/header",
  locals: {
    location: @location,
  }
%>

<div class="container mt-3">
  <%= render partial: "locations/tabs",
    locals: {
      location: @location,
    }
  %>

  <% if current_user.admin? %>
    <div class="mb-3">
      <%= link_to(
        edit_location_visa_information_path(location_id: @location.id),
      ) do %>
        <% if @country.visa_information.present? %>
          <i class="bi bi-pencil-fill" aria-hidden="true"></i>
          Edit visa information
        <% else %>
          <i class="bi bi-plus-circle-fill" aria-hidden="true"></i>
          Add visa information
        <% end %>
      <% end %>
    </div>
  <% end %>

  <% if @country.visa_information.present? %>
    <%= @markdown.render(@country.visa_information).html_safe %>
  <% else %>
    <p>
      No visa information for <%= @country.name %> yet
    </p>
  <% end %>
</div>
