<div class="container mt-5">
  <%= render partial: "locations/shared/back_link",
    locals: {
      location: @location,
    }
  %>

  <h1>Emergency info. for <%= @country.name %></h1>

  <%= form_for [@location, @country] do |f| %>
    <div class="mb-3">
      <%= f.label(
        :ambulance_number,
        "Ambulance",
        class: "form-label fw-bold"
      ) %>
      <%= f.text_field :ambulance_number, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label(
        :police_number,
        "Police",
        class: "form-label fw-bold"
      ) %>
      <%= f.text_field :police_number, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :fire_number, "Fire", class: "form-label fw-bold" %>
      <%= f.text_field :fire_number, class: "form-control" %>
    </div>

    <%= f.button "Save",
      type: :submit,
      class: "btn btn-primary"
    %>
  <% end %>
</div>
