<% content_for :page_title do %>
  Reviews for <%= @location.name %>, <%= @location.country.name %>
<% end %>

<%= render partial: "locations/header",
  locals: {
    location: @location,
  }
%>

<div class="container mt-3">
  <%= render partial: "locations/tabs",
    locals: {
      location: @location,
    }
  %>

  <div class="row row-cols-xl-3 row-cols-md-2 row-cols-1">
    <% @reviews.each do |review| %>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= review.user.display_name %></h5>
            <p class="card-text">
              Overall: <%= helper_star_rating(rating: review.overall) %>
            </p>
            <% if review.body.present? %>
              <p class="card-text">
                <%= helper_short_body(review: review) %>
              </p>
            <% end %>
            <%= link_to(
              "See full review",
              location_review_path(review, location_id: @location.id),
              class: "btn btn-secondary"
            ) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
