
<%= render partial: "locations/header",
  locals: {
    location: @location,
  }
%>

<div class="container mt-3">
  <%= render partial: "locations/tabs",
    locals: {
      location: @location,
    }
  %>

  <div class="mb-3">
    <%= link_to(
      location_reviews_path(location_id: @location.id),
    ) do %>
      <i class="bi bi-chevron-left" aria-hidden="true"></i>
      Back to all reviews
    <% end %>
  </div>

  <div class="mb-3">
    <% if flash[:success_save_review].present? %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= flash[:success_save_review] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </div>

  <div>
    <p class="h3">
      Overall: <%= helper_star_rating(rating: @review.overall) %>
    </p>
    <p>Fun: <%= helper_star_rating(rating: @review.fun) %></p>
    <p>Cost: <%= helper_star_rating(rating: @review.cost) %></p>
    <p>Internet: <%= helper_star_rating(rating: @review.internet) %></p>
    <p>Safety: <%= helper_star_rating(rating: @review.safety) %></p>

    <% if @review.body.present? %>
      <p>
        <strong>Summary</strong>
        <br />
        <%= simple_format(@review.body) %>
      </p>
    <% end %>
  </div>
</div>

<%
  set_meta_tags(
    title: "Review for #{@location.name_utf8}, #{@location.country_name} by #{@review.user.display_name}",
    description: "Unsure about #{@location.name_utf8} as your next Digital Nomad experience? Find out what #{@review.user.display_name} thinks about #{@location.name}",
    index: true,
    follow: true
  )
%>
