
<%= render partial: "locations/header",
  locals: {
    location: @location,
  }
%>

<div class="container mt-3">
  <%= render partial: "locations/tabs",
    locals: {
      location: @location,
    }
  %>

  <div class="mb-3">
    <%= link_to :back do %>
      <i class="bi bi-chevron-left" aria-hidden="true"></i>
      Back
    <% end %>
  </div>

  <div class="mb-3">
    <% if flash[:success_save_review].present? %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= flash[:success_save_review] %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
  </div>

  <% if @review.user == current_user %>
    <%= link_to(
      edit_location_review_path(@review, location_id: @location.id),
      class: "btn btn-primary mb-2"
    ) do %>
      <i class="bi bi-pencil-fill" aria-hidden="true"></i>
      Edit
    <% end %>
  <% end %>

  <div>
    <h3>
      Review for
      <%= @location.name_utf8 %>, <%= @location.country_name %>
      by
      <%= link_to @review.user do %>
        <%= @review.user.display_name %>
      <% end %>
    </h3>

    <p>
      <span class="fs-4 fw-bold">
        Overall: <%= helper_star_rating(rating: @review.overall) %>
      </span>
      <br />
      Fun: <%= helper_star_rating(rating: @review.fun) %>
      <br />
      Cost: <%= helper_star_rating(rating: @review.cost) %>
      <br />
      Internet: <%= helper_star_rating(rating: @review.internet) %>
      <br />
      Safety: <%= helper_star_rating(rating: @review.safety) %>
    </p>

    <% if @review.body.present? %>
      <p>
        <strong>Summary</strong>
        <br />
        <%= simple_format(@review.body) %>
      </p>
    <% end %>
  </div>
</div>

<%
  set_meta_tags(
    title: "Review for #{@location.name_utf8}, #{@location.country_name} by #{@review.user.display_name}",
    description: "Unsure about #{@location.name_utf8} as your next Digital Nomad experience? Find out what #{@review.user.display_name} thinks about #{@location.name}",
    index: true,
    follow: true
  )
%>
