<div class="container mt-5">
  <%= render partial: "locations/edit_location_alerts" %>

  <%= render partial: "locations/shared/back_link",
    locals: {
      location: @location,
    }
  %>

  <h1>Editing <%= @location.name_utf8 %>, <%= @location.country.name %></h1>

  <%= form_for @location do |f| %>
    <div class="mb-3">
      <%= f.label :description, class: "form-label"%>
      <%= f.text_area :description,
        class: "form-control",
        rows: 8
      %>
    </div>
    <%= f.button "Save",
      type: :submit,
      class: "btn btn-primary"
    %>

    <% if @location.description.present? %>
      <%= f.button "Auto-generate",
        type: :submit,
        data: {
          turbo_confirm: "Are you sure? This location already has a description, this action will overwrite the existing data permanently"
        },
        class: "btn btn-danger",
        formaction: generate_description_location_path(@location)
      %>
    <% else %>
      <%= f.button "Auto-generate",
        type: :submit,
        class: "btn btn-secondary",
        formaction: generate_description_location_path(@location)
      %>
    <% end %>
  <% end %>
</div>

<%
  set_meta_tags(
    index: false,
    follow: false
  )
%>
