<% if flash[:error_update_location].present? %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= flash[:error_update_location] %>
  </div>
<% end %>

<h1>Editing <%= @location.name_utf8 %>, <%= @location.country.name %></h1>

<%= form_for @location do |f| %>
  <div class="mb-3">
    <%= f.label :description, class: "form-label"%>
    <%= f.text_area :description,
      class: "form-control",
      rows: 8
    %>
  </div>
  <%= f.button "Save",
    type: :submit,
    class: "btn btn-primary"
  %>
<% end %>

