<%= render partial: "locations/header",
  locals: {
    location: @location,
  }
%>

<div class="container mt-3">
  <%= render partial: "locations/tabs",
    locals: {
      location: @location,
    }
  %>

  <%= render partial: "locations/show_location_alerts" %>

  <div class="row row-cols-1 row-cols-lg-2">
    <div class="col-12 col-lg-3">
      <div class="mb-2">
        <%= render partial: "shared/location_tags", locals: {
          location: @location
        } %>
      </div>

      <div class="card mb-2">
        <div class="card-body">
          <% if @location.reviews.any? %>
            <div class="review-summary-row">
              <div>Overall:</div>

              <div class="rating">
                <%= helper_review_summary_star_rating(
                  location: @location,
                  review_field: :overall
                ) %>
              </div>
            </div>
            <div class="review-summary-row">
              <div>Fun:</div>

              <div class="rating">
                <%= helper_review_summary_star_rating(
                  location: @location,
                  review_field: :fun
                ) %>
              </div>
            </div>
            <div class="review-summary-row">
              <div>Cost:</div>

              <div class="rating">
                <%= helper_review_summary_star_rating(
                  location: @location,
                  review_field: :cost
                ) %>
              </div>
            </div>
            <div class="review-summary-row">
              <div>Internet:</div>

              <div class="rating">
                <%= helper_review_summary_star_rating(
                  location: @location,
                  review_field: :internet
                ) %>
              </div>
            </div>
            <div class="review-summary-row">
              <div>Safety:</div>

              <div class="rating">
                <%= helper_review_summary_star_rating(
                  location: @location,
                  review_field: :safety
                ) %>
              </div>
            </div>

          <% else %>
            No reviews for <%= @location.name_utf8 %> yet
          <% end %>
        </div>
      </div>

      <% if @location.has_emergency_numbers? %>
        <% # Only render on non-mobile/small screens %>
        <div class="d-none d-lg-block d-xl-block d-xxl-block mb-3">
          <%= render partial: "locations/shared/emergency_numbers",
            locals: {
              location: @location
            }
          %>
        </div>
      <% end %>

      <% if current_user&.admin? %>
        <%= link_to edit_location_country_path(
          @location.country,
          location_id: @location.id
        ) do %>
          <% if @location.has_emergency_numbers? %>
            <i class="bi bi-pencil-fill" aria-hidden="true"></i>
            Update emergency info.
          <% else %>
            <i class="bi bi-plus-circle-fill" aria-hidden="true"></i>
            Add emergency info.
          <% end %>
        <% end %>
      <% end %>
    </div>

    <hr class="d-lg-none d-xl-none d-xxl-none my-4">

    <div class="col-12 col-lg-9">
      <% if current_user&.admin? %>
        <%= render partial: "locations/admin_actions",
          locals: { location: @location }
        %>
      <% end %>

      <%= @markdown.render(
        helper_location_description(location: @location)
      ).html_safe %>
    </div>
  </div>
</div>

<%
  set_meta_tags(
    title: "#{@location.name_utf8}, #{@location.country.name}",
    description: helper_location_short_description(location: @location),
    index: true,
    follow: true
  )
%>
