<% if flash[:success_update_location].present? %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= flash[:success_update_location] %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% end %>

<h1><%= @location.name_utf8 %></h1>
<h3><%= @location.country.name %></h3>

<% if current_user&.admin? %>
  <%= link_to edit_location_path(@location) do %>
    <i class="bi bi-pencil-fill" aria-hidden="true"></i>
    Update location
  <% end %>
<% end %>

<div class="row row-cols-1 row-cols-lg-2">
  <div class="col-12 col-lg-9">
    <%= helper_location_description(location: @location) %>
  </div>

  <hr class="d-lg-none my-4">

  <div class="col-12 col-lg-3">
    <div class="card">
      <div class="card-body">
        TODO additional information here like review summary, weather, links to add a review, etc.
      </div>
    </div>
  </div>
</div>

