<nav
    class="navbar navbar-expand-lg bg-primary"
    data-bs-theme="dark"
    >

  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <div class="m-1 mb-2">
        <img src="<%= asset_url("nomadstation-high-resolution-logo-white-on-transparent-background.png") %>" alt="Nomadstation brand" width="200px">
      </div>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to(
            root_path,
            class: "nav-link",
            data: {
              controller: "navbar-link",
              "navbar-link-active-paths-value": ['search_locations', 'locations', ''],
              "navbar-link-target": "link"
            }
          ) do %>
            <i class="bi bi-search" aria-hidden="true"></i>
            Explore
          <% end %>
        </li>

        <li class="nav-item">
          <%= turbo_frame_tag(
            "navbar-chat-link",
            src: current_user.present? ? (
              navbar_link_chat_path(
                format: :turbo_stream,
                active: request.path.include?("chat") || request.path.include?("channel")
              )
            ) : nil
          ) do %>
            <%= link_to(
              chat_path,
              class: "nav-link",
              data: {
                controller: "navbar-link",
                "navbar-link-active-paths-value": ['chat', 'channels'],
                "navbar-link-target": "link",
                turbo_frame: "_top"
              }
            ) do %>
              <i class="bi bi-chat-fill" aria-hidden="true"></i>
              Chat
            <% end %>
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to(
            profile_path,
            class: "nav-link",
            data: {
              controller: "navbar-link",
              "navbar-link-active-paths-value": ['profile'],
              "navbar-link-target": "link"
            }
          ) do %>
            <i class="bi bi-person-fill" aria-hidden="true"></i>
            Profile
          <% end %>
        </li>
      </ul>

      <div class="navbar-actions">
        <% if current_user&.present? %>
          <%= button_to(
            "Sign out",
            destroy_user_session_path,
            method: :delete,
            class: "btn btn-outline-light"
          ) %>
        <% else %>
          <%= link_to(
            "Sign in",
            new_user_session_path,
            method: :delete,
            class: "btn btn-outline-light me-2"
          ) %>

          <%= link_to(
            "Sign up",
            new_user_registration_path,
            class: "btn btn-success"
          ) %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
