<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= display_meta_tags site: "Nomadstation" %>

    <% if Rails.env.production? && !ENV["HEROKU_ENV"] %>
      <% # Script for Umami analytics" %>
      <script defer src="https://analytics.eu.umami.is/script.js" data-website-id="23fb09b1-16e0-4884-807b-19666fe3683b"></script>
    <% end %>
  </head>

  <body>
    <%= render partial: "layouts/navbar" %>
    <%= turbo_frame_tag "site-modals" %>
    <%= yield %>
  </body>
</html>
