<!DOCTYPE html>
<html>
  <head>
    <% if content_for? :page_title %>
      <title><%= yield :page_title %> | Nomadstation</title>
    <% else %>
      <title>Nomadstation</title>
    <% end %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

    <%= display_meta_tags site: "Nomadstation" %>

  </head>

  <body>
    <%= render partial: "layouts/navbar" %>
    <%= turbo_frame_tag "site-modals" %>
    <%= yield %>
  </body>
</html>
